/*
default.css

description: this css file contains all the default styles for this project.
The overall css file structure may change over time, but this is the starting point.

author: christopher@coffeewithyourmilk.com
created: March 13, 2018
last-updated: March 13, 2018
*/
